@using WebArt.Shared
@using BootstrapBlazor.Components
@using System.Collections.ObjectModel
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BootstrapBlazor.Components.ToastService ToastService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Http
@page "/servicecard/{Id:int}"
<div class="d-flex flex-column center-div">
    <AntDesign.Card Title="@ad.Name" Hoverable Style="width:500px; auto; margin:20px; ">


        <Body>
            <div>
                <p class="card-title">@ad.Description</p>
                <p class="card-body">@ad.Cost р</p>
            </div>
        </Body>

        <ChildContent>
            <NavLink href="@GetHref()">

                <AntDesign.Avatar Src=@srcAva></AntDesign.Avatar>
                @* <AntDesign.Title>@ad.User?.Name</AntDesign.Title>*@
                <p>@ad.User?.Name </p>
                <AntDesign.Descriptions>@srcDate</AntDesign.Descriptions>
            </NavLink>
            @if (resp.Count == 0)
            {
                <BootstrapBlazor.Components.Button IsAsync="true" style="font-size: 20px; background: #00ff59" OnClick="@Otklik" class="product-cart-btn">Отклинуться</BootstrapBlazor.Components.Button>
            }
            else
            {
                <BootstrapBlazor.Components.Button IsAsync="true" style="font-size: 20px; background: #fd0808" OnClick="@DeleteOtklik" class="product-cart-btn">Отменить отклик</BootstrapBlazor.Components.Button>
            }
        </ChildContent>

    </AntDesign.Card>

   @* <div>
        <div>
            @if (resp == null || resp.Count == 0)
            {
                <div class="" style="display: block;">
                    <div style="height: 300px; display: block; margin-right: auto;text-align: center;vertical-align: middle;line-height: 300px;display: block;">
                        <a href=""><h3>Здесь пока ничего нет</h3></a>
                    </div>
                </div>
            }
            else
            {

                @foreach (var prod in resp)
                {
                    <ResponcesAdComponent Id="@prod.Id"></ResponcesAdComponent>
                }
            }
        </div>
    </div>*@
</div>
@code {
    private string GetHref()
    {
        if (CurrentUser.Id == ad.UserId)
        { return "profile/"; }
        else
        { return "userprofile/" + ad.UserId; }
    }
    RenderFragment avatarTemplate = @<AntDesign.Avatar src="srcAva"></AntDesign.Avatar>;
    [CascadingParameter(Name = "Token")]
    public string Token { get; set; }
    public User CurrentUser { get; set; } = new User();
    [CascadingParameter(Name = "IsAuthorized")]
    public bool IsAuthorized { get; set; }
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    public string srcAva;
    public string srcDate;
    public List<ResponceSer> resp { get; set; } = new List<ResponceSer>();
    public Service ad = new Service();
    public ResponceSer responce = new ResponceSer();
    private async Task GetResponse()
    {
        resp = new List<ResponceSer>(await BaseHttpServices<ResponceSer>.SendListAsync<ResponceSer>("ResponcesSer/user?userId=" + CurrentUser.Id + "&adId=" + ad.Id, HttpMethod.Get));
        InvokeAsync(StateHasChanged);
    }
    private async Task Otklik()
    {
        responce.SerId = ad.Id;
        //responce.Ads = ad;
        responce.UserId = CurrentUser.Id;
        responce = (await BaseHttpServices<ResponceSer>.SendListAsync<ResponceSer>("ResponcesSer/", HttpMethod.Post, responce)).FirstOrDefault();
        ErrorMessage("Отклик доставлен");
        GetResponse();
    }
    private async Task DeleteOtklik()
    {
        responce = resp.Where(p => p.UserId == CurrentUser.Id).FirstOrDefault();
        await BaseHttpServices<ResponceSer>.SendListAsync<ResponceSer>("ResponcesSer/" + responce.Id, HttpMethod.Delete);
        ErrorMessage("Отклик доставлен");
        GetResponse();
    }
    private void ErrorMessage(string ex)
    {
        ToastService.Show(new BootstrapBlazor.Components.ToastOption()
            {
                // Notification category
                Category = BootstrapBlazor.Components.ToastCategory.Success,

                // Notification box Title value
                Title = "Уведомление",

                // Notification body content
                Content = ex
            });
    }
    protected override async Task OnInitializedAsync()
    {
        if (!IsAuthorized) NavigationManager.NavigateTo("/auth");
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    var tokenClaim = user.FindFirst("Token");
                    if (tokenClaim != null)
                    {
                        User? temp_user = await ArtLib.Auth.GetUserByToken(tokenClaim.Value);
                        if (temp_user == null) NavigationManager.NavigateTo("/logout?returnUrl=/", true);
                        else CurrentUser = temp_user;

                        ad = (await BaseHttpServices<Service>.SendListAsync<Service>("services/" + Id, HttpMethod.Get)).FirstOrDefault();
                        resp = new List<ResponceSer>(await BaseHttpServices<ResponceSer>.SendListAsync<ResponceSer>("ResponcesSer/ser?adId=" + Id, HttpMethod.Get));
                        srcAva = ad.User?.FullImageLink;
                        srcDate = Convert.ToString(ad.Date);
                        GetResponse();
                        //GetResponse();
                    }
                    else NavigationManager.NavigateTo("/logout?returnUrl=/", true);
                }
            }
        }
    }
}
